<div class="publist4ubma2_debug">
	<p style="text-align: left; font-weight: bold;">
		Flexform - Config:
	</p>
	<table cellpadding="5" cellspacing="0" border="2">
		<tr><td>templateLayout</td><td>{settings.templateLayout}</td></tr>
		<tr><td>ordering</td><td>{settings.ordering}</td></tr>
		<tr><td>splityears</td><td>{settings.splityears}</td></tr>
		<tr><td>splittypes</td><td>{settings.splittypes}</td></tr>
		<tr><td>enumerate</td><td>{settings.enumerate}</td></tr>
		<tr><td>bibtex</td><td>{settings.bibtex}</td></tr>
	</table>
</div>
