<f:switch expression="{publication.bibType}">
	<f:case value="book">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.publisher}, {publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.placeOfPub}</ br>{publication.abstract}
		</f:case>
	<f:case value="article">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			<em>{publication.publication},</em> {publication.volume}, {publication.revNumber}, {publication.pageRange}<br />{publication.abstract}
		</f:case>
	<f:case value="book_section">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.publisher} <em>{publication.bookTitle}</em> {publication.placeOfPub}, {publication.pageRange}<br />{publication.abstract}
		</f:case>
	<f:case value="conference_item">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.publisher}, {publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			<em>{publication.publication}.</em> {publication.placeOfPub}</ br>{publication.abstract}
		</f:case>
	<f:case value="dissertation">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>. {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.placeOfPub} <br />{publication.abstract}
		</f:case>
	<f:case value="encyclopedia_article">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>. {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.publisher} <em>{publication.bookTitle}</em> {publication.placeOfPub} {publication.volume}, {publication.pageRange}<br />{publication.abstract}
		</f:case>
	<f:case value="habilitation">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>. {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.placeOfPub}<br />{publication.abstract}
		</f:case>
	<f:case value="journal">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.publisher}, {publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.publication}, {publication.volume}, {publication.revNumber}, {publication.placeOfPub}<br />{publication.abstract}
		</f:case>
	<f:case value="other">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.publisher}, {publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			<br />{publication.abstract}
		</f:case>
	<f:case value="preprint">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.publisher}, {publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}.</f:link.external> </strong>
			{publication.placeOfPub}, {publication.ubmaEdition}. {publication.volume}<br />{publication.abstract}
		</f:case>
	<f:case value="report">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			{publication.publisher}, {publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.placeOfPub}, {publication.ubmaEdition}. {publication.volume}<br />{publication.abstract}
		</f:case>
	<f:case value="review">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>. {publication.publisher},
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}.</f:link.external></strong>
			{publication.publication}, {publication.volume}, {publication.revNumber}, {publication.pageRange}<br />{publication.abstract}
		</f:case>
	<f:case value="thesis">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>. {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}.</f:link.external></strong>
			{publication.placeOfPub}<br />{publication.abstract}
		</f:case>
	<f:case value="research_paper">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>. {publication.publisher},
			<em>{publication.publication}.</em>{publication.corpCreators} {publication.year}
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.placeOfPub}, {publication.ubmaEdition}. {publication.volume}<br />{publication.abstract}
		</f:case>
	<f:case value="workshop_item">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			<em>{publication.bookTitle}</em> {publication.year}<br />{publication.abstract}
		</f:case>
	<f:case value="master_thesis">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			{publication.placeOfPub}, {publication.year}<br />{publication.abstract}
		</f:case>
	<f:case value="poster">
			<f:render partial="RenderNamesWithAnd" arguments="{publication: '{publication}'}"/>.
			<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
			<em>{publication.bookTitle}</em> {publication.year}<br />{publication.abstract}
		</f:case>
	<f:case default="TRUE">no bib type</f:case>
</f:switch>
