<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<v:variable.set name="publication.title" value="{publication.title->v:format.trim()}" />
<v:variable.set name="publication.pageRange" value="{v:format.replace(substring: '-', content: publication.pageRange, replacement: '–')}" />	
<f:if condition="{v:variable.pregMatch(pattern: '#\\?$#', subject: publication.title)}">
	<f:then>
		<f:comment>Please leave span tag with blank as blanks between tags are eliminated in some cases</f:comment>
		<v:variable.set name="titleDot" value="<span> </span>" />
	</f:then>
	<f:else>
		<v:variable.set name="titleDot" value="." />
	</f:else>
</f:if>
<f:comment>Boolean variable for multi-volume books which have no publication title to distinguish them from a book in a book series</f:comment>
<f:if condition="{publication.volume}">
	<f:then>
		<f:if condition="!{publication.publication}">
			<f:then>
				<v:variable.set name="multiVolumeBook" value="TRUE" />
			</f:then>
		</f:if>
		<f:if condition="{publication.volume -> v:count.bytes()} > 4">
			<f:then>
				<v:variable.set name="separateVolumeTitle" value="TRUE" />
			</f:then>
		</f:if>
	</f:then>
</f:if>
<f:switch expression="{publication.bibType}">
	<f:case value="article">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		<em>{publication.publication}<f:if condition="{publication.volume}">, {publication.volume}</f:if></em><f:if condition="{publication.number}">({publication.number})</f:if><f:if condition="{publication.pageRange}">, {publication.pageRange}</f:if><f:if condition="{publication.ubmaForthcoming}"> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:forthcoming_ie" />)</f:if>.
	</f:case>
	<f:case value="book">
		<f:if condition="{publication.creators}">
			<f:then>
				{n:renderNamesApa(somebody: publication.creators)}
			</f:then>
			<f:else>
				<f:if condition="{publication.editors}">
					<n:renderNamesApa somebody="{publication.editors}" nonInverted="1" /> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:editors" />)
				</f:if>
				<f:else>
					{publication.corpCreators}
				</f:else>
			</f:else>
		</f:if>
		({publication.year}).
		<f:link.external uri="{publication.usedLinkUrl}" target="_blank">
			{publication.title}
			<f:if condition="{multiVolumeBook} && {separateVolumeTitle}">Bd. {publication.volume}	</f:if>
		</f:link.external>
		<f:if condition="{publication.ubmaEdition} || ({multiVolumeBook} && !{separateVolumeTitle})">
			<f:then>
				({publication.ubmaEdition}<f:if condition="{multiVolumeBook} && !{separateVolumeTitle}"><f:if condition="{publication.ubmaEdition}">, </f:if>Bd. {publication.volume}</f:if>)
			</f:then>
		</f:if>
		{titleDot}
		{publication.placeOfPub}: <f:if condition="{publication.ubmaForthcoming}"><f:then>{publication.publisher} (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:forthcoming_ie" />)</f:then><f:else>{publication.publisher->v:format.trim(characters: '.')}</f:else></f:if>.
	</f:case>
	<f:case value="book_section">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}).
		<f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		In
		<f:if condition="{publication.editors}">
			<f:then>
				<n:renderNamesApa somebody="{publication.editors}" nonInverted="1" /> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:editors" />),
			</f:then>
			<f:else>
				<f:if condition="{publication.ubmaBookEditor}">
					<n:renderNamesApa somebody="{publication.ubmaBookEditor}" nonInverted="1" /> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:editors" />),
				</f:if>
			</f:else>
		</f:if>
		<em>{publication.bookTitle}
			<f:if condition="{multiVolumeBook} && {separateVolumeTitle}">	Bd. {publication.volume}</f:if>
		</em>
		(<f:if condition="{publication.ubmaEdition}">{publication.ubmaEdition}, </f:if><f:if condition="{multiVolumeBook} && !{separateVolumeTitle}">Bd. {publication.volume},</f:if>S. {publication.pageRange}).
		{publication.placeOfPub}: {publication.publisher->v:format.trim(characters: '.')}.
	</f:case>
	<f:case value="conference_item">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		In 
		<f:if condition="{publication.editors}">
			<f:then>
				<n:renderNamesApa somebody="{publication.editors}" nonInverted="1" /> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:editors" />),
			</f:then>
			<f:else>
				<f:if condition="{publication.ubmaBookEditor}">
					<n:renderNamesApa somebody="{publication.ubmaBookEditor}" nonInverted="1" /> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:editors" />),
				</f:if>
			</f:else>
		</f:if>
		{publication.bookTitle} (S. {publication.pageRange}). <em>{publication.publication}</em>,
		{publication.publisher}: {publication.placeOfPub}.
	</f:case>
	<f:case value="dissertation">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		[<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:doctoral_dissertation" /><f:if condition="{publication.ubmaUniversity}">, {publication.ubmaUniversity}</f:if>]
	</f:case>
	<f:case value="encyclopedia_article">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		In <n:renderNamesApa somebody="{publication.ubmaBookEditor}"/><n:renderNamesApa somebody="{publication.editors}" nonInverted="1" />, <em>{publication.bookTitle}</em> (S. {publication.pageRange}). {publication.placeOfPub}: {publication.publisher->v:format.trim(characters: '.')}.
	</f:case>
	<f:case value="habilitation">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		Habilitation, {publication.publisher->v:format.trim(characters: '.')}. {publication.placeOfPub}.
	</f:case>
	<f:case value="journal">
		<f:if condition="{publication.creators}">
			<f:then>
				{n:renderNamesApa(somebody: publication.creators)}
			</f:then>
			<f:else>
				<f:if condition="{publication.editors}">
					<n:renderNamesApa somebody="{publication.editors}" nonInverted="1" /> (<f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:editors" />)
				</f:if>
				<f:else>
					{publication.corpCreators}
				</f:else>
			</f:else>
		</f:if>
		({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		<em>{publication.publication}</em>, {publication.volume}, {publication.number}.
	</f:case>
	<f:case value="other">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
	</f:case>
	<f:case value="preprint">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		{publication.publisher->v:format.trim(characters: '.')}.
	</f:case>
	<f:case value="report">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
	</f:case>
	<f:case value="review">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		Review, <em>{publication.publication}</em>.
	</f:case>
	<f:case value="thesis">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		Thesis, {publication.publisher->v:format.trim(characters: '.')}. {publication.placeOfPub}.
	</f:case>
	<f:case value="research_paper">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		<f:if condition="{publication.publication}"><em>{publication.publication}</em><f:if condition="{publication.volume}">, {publication.volume}</f:if>.</f:if>
		<f:if condition="{publication.placeOfPub}">{publication.placeOfPub}<f:if condition="{publication.publisher}">: {publication.publisher->v:format.trim(characters: '.')}</f:if>.</f:if>
	</f:case>
	<f:case value="workshop_item">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		{publication.bookTitle}, {publication.volume}.
	</f:case>
	<f:case value="conference_presentation">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot} 
		<em>{publication.eventTitle}</em>, {publication.eventLocation}.
	</f:case>
	<f:case value="master_thesis">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		Thesis, {publication.placeOfPub}.
	</f:case>
	<f:case value="poster">
		{n:renderNamesApa(somebody: publication.creators)} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		{publication.bookTitle}.
	</f:case>
	<f:case default="TRUE">
		{n:renderNamesApa(somebody: publication.creators)} <n:renderNamesApa somebody="{publication.editors}" nonInverted="1" /> {publication.corpCreators} ({publication.year}). <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external>{titleDot}
		<em>{publication.publication}</em>.
	</f:case>
</f:switch>
<f:if condition="{publication.doi}">
	https://doi.org/{publication.doi}
</f:if>
