<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<f:switch expression="{publication.bibType}">
	<f:case value="article">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		<em>{publication.publication}</em>, {publication.volume}, {publication.number}, {publication.pageRange}.
	</f:case>
	<f:case value="book">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		{publication.placeOfPub} : {publication.publisher}.
	</f:case>
	<f:case value="book_section">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		In: {publication.ubmaBookEditor} <em>{publication.bookTitle}</em>, {publication.placeOfPub} : {publication.publisher}, S. {publication.pageRange}.
	</f:case>
	<f:case value="conference_item">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		In: {publication.ubmaBookEditor} <em>{publication.bookTitle}</em>, {publication.placeOfPub} : {publication.publisher}, S. {publication.pageRange}.
	</f:case>
	<f:case value="workshop_item">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		In: {publication.ubmaBookEditor} <em>{publication.bookTitle}</em>, {publication.placeOfPub} : {publication.publisher}, S. {publication.pageRange}.
	</f:case>
	<f:case value="dissertation">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		Dissertation {publication.publisher} {publication.placeOfPub}.
	</f:case>
	<f:case value="encyclopedia_article">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		In: {publication.ubmaBookEditor} <em>{publication.bookTitle}</em>, {publication.placeOfPub} : {publication.publisher}, S. {publication.pageRange}.
	</f:case>
	<f:case value="habilitation">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		Habilitation {publication.publisher} {publication.placeOfPub}.
	</f:case>
	<f:case value="journal">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		<em>{publication.publication}</em>, {publication.volume}, {publication.pageRange}.
	</f:case>
	<f:case value="other">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
	</f:case>
	<f:case value="preprint">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
	</f:case>
	<f:case value="report">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
	</f:case>
	<f:case value="review">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		Review, <em>{publication.publication}</em>.
	</f:case>
	<f:case value="thesis">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		Thesis, {publication.publisher} {publication.placeOfPub}.
	</f:case>
	<f:case value="research_paper">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		<em>{publication.publication}</em> {publication.placeOfPub} : {publication.publisher}, {publication.volume}.
	</f:case>
	<f:case value="master_thesis">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
		Masterarbeit, {publication.placeOfPub}.
	</f:case>
	<f:case value="poster">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>.
	</f:case>
	<f:case default="TRUE">
		<span class='Z3988' title='{publication.usedCoin}'></span><n:renderNamesWithAnd somebody="{publication.creators}" /> ({publication.year}):
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<em>{publication.publication}</em>.
	</f:case>
</f:switch>
