<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<f:switch expression="{publication.bibType}">
	<f:case value="book">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.editors}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="article">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<em><span property="schema:isPartOf" typeof="schema:PublicationVolume"><span property="schema:name">{publication.publication}</span> (<span property="schema:volumeNumber">{publication.volume}#</span>)</span>,</em>
		<span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>,
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>,
		<span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="book_section">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span></span>.</strong>
		In: <n:renderNamesWithAndRdfaSchema somebody="{publication.ubmaBookEditor}" />,
		<em><span property="schema:isPartOf" typeof="schema:Book"><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span></span></em>;
		<span property="schema:pagination">{publication.pageRange}</span>, <span property="schema:publisher" typeof="schema:Organization">
		<span property="schema:name">{publication.publisher}</span></span>, <span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>,
		<span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="conference_item">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		In: <em>{publication.publication}<span property="schema:isPartOf" typeof="schema:Book"><span property="schema:name">{publication.bookTitle}</span></span></em>;
		<span property="schema:pagination">{publication.pageRange}</span>. <span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>,
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="conference_presentation">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong> <em>{publication.eventTitle}
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.eventLocation}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="dissertation">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong> Dissertation,
		<span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>, <span property="schema:contentLocation" typeof="schema:Place">
		<span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="encyclopedia_article">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>, <span property="schema:datePublished">publication.year}</span>,
		<em><span property="schema:isPartOf" typeof="schema:Book"><span property="schema:name">{publication.bookTitle}</span></span>.</em></span>.
	</f:case>
	<f:case value="habilitation">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="journal">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:isPartOf"  typeof="schema:PublicationVolume"><span property="schema:name">{publication.publication}</span></span> ({publication.number}),
		<span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>,
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="other">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="preprint">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:publisher" typeof="schema:Organization"><span property="schema:name">{publication.publisher}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.

	</f:case>
	<f:case value="report">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="review">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:isPartOf" typeof="schema:PublicationVolume"><span property="schema:name">{publication.publication}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="thesis">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="research_paper">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		{publication.corpCreators}, <span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="workshop_item">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<em><span property="schema:isPartOf" typeof="schema:Book"><span property="schema:name">{publication.bookTitle}</span></span>,</em> <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="master_thesis">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<span property="schema:contentLocation" typeof="schema:Place"><span property="schema:name">{publication.placeOfPub}</span></span>, <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case value="poster">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:ScholarlyArticle">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<em><span property="schema:isPartOf" typeof="schema:Book"><span property="schema:name">{publication.bookTitle}</span></span>,</em> <span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
	<f:case default="TRUE">
		<span  prefix="schema: http://schema.org/" about="http://ub-madoc.bib.uni-mannheim.de/'{publication.eprintId}'" typeof="schema:CreativeWork">
		<n:renderNamesWithAndRdfaSchema somebody="{publication.creators}" />
		<strong><span property="schema:name"><f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external></span>.</strong>
		<em><span property="schema:isPartOf" typeof="schema:PublicationVolume"><span property="schema:name">{publication.publication}</span> </span>,</em>
		<span property="schema:datePublished">{publication.year}</span></span>.
	</f:case>
</f:switch>
