<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<f:switch expression="{publication.bibType}">
	<f:case value="book">
		<n:renderNamesWithAnd somebody="{publication.editors}" />.
		{publication.publisher}, {publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.placeOfPub}<br />{publication.abstract}
	</f:case>
	<f:case value="article">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<em>{publication.publication},</em> {publication.volume}, {publication.revNumber}, {publication.pageRange}<br />{publication.abstract}
	</f:case>
	<f:case value="book_section">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.publisher} <em>{publication.bookTitle}</em> {publication.placeOfPub}, {publication.pageRange}<br />{publication.abstract}
	</f:case>
	<f:case value="conference_item">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.publisher}, {publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<em>{publication.publication}.</em> {publication.placeOfPub}<br />{publication.abstract}
	</f:case>
	<f:case value="dissertation">
		<n:renderNamesWithAnd somebody="{publication.creators}" />. {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.placeOfPub} <br />{publication.abstract}
	</f:case>
	<f:case value="encyclopedia_article">
		<n:renderNamesWithAnd somebody="{publication.creators}" />. {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.publisher} <em>{publication.bookTitle}</em> {publication.placeOfPub} {publication.volume}, {publication.pageRange}<br />{publication.abstract}
	</f:case>
	<f:case value="habilitation">
		<n:renderNamesWithAnd somebody="{publication.creators}" />. {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.placeOfPub}<br />{publication.abstract}
	</f:case>
	<f:case value="journal">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.publisher}, {publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.publication}, {publication.volume}, {publication.revNumber}, {publication.placeOfPub}<br />{publication.abstract}
	</f:case>
	<f:case value="other">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.publisher}, {publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<br />{publication.abstract}
	</f:case>
	<f:case value="preprint">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.publisher}, {publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}.</f:link.external> </strong>
		{publication.placeOfPub}, {publication.ubmaEdition}. {publication.volume}<br />{publication.abstract}
	</f:case>
	<f:case value="report">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.publisher}, {publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.placeOfPub}, {publication.ubmaEdition}. {publication.volume}<br />{publication.abstract}
	</f:case>
	<f:case value="review">
		<n:renderNamesWithAnd somebody="{publication.creators}" />. {publication.publisher},
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}.</f:link.external></strong>
		{publication.publication}, {publication.volume}, {publication.revNumber}, {publication.pageRange}<br />{publication.abstract}
	</f:case>
	<f:case value="thesis">
		<n:renderNamesWithAnd somebody="{publication.creators}" />. {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}.</f:link.external></strong>
		{publication.placeOfPub}<br />{publication.abstract}
	</f:case>
	<f:case value="research_paper">
		<n:renderNamesWithAnd somebody="{publication.creators}" />. {publication.publisher},
		<em>{publication.publication}.</em>{publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.placeOfPub}, {publication.ubmaEdition}. {publication.volume}<br />{publication.abstract}
	</f:case>
	<f:case value="workshop_item">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<em>{publication.bookTitle}</em> {publication.year}<br />{publication.abstract}
	</f:case>
	<f:case value="master_thesis">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		{publication.placeOfPub}, {publication.year}<br />{publication.abstract}
	</f:case>
	<f:case value="poster">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<em>{publication.bookTitle}</em> {publication.year}<br />{publication.abstract}
	</f:case>
	<f:case default="TRUE">
		<n:renderNamesWithAnd somebody="{publication.creators}" />.
		{publication.corpCreators} {publication.year}
		<strong> <f:link.external uri="{publication.usedLinkUrl}" target="_blank">{publication.title}</f:link.external> </strong>
		<em>{publication.publication}</em><br />{publication.abstract}
	</f:case>
</f:switch>
