<table cellpadding="5" cellspacing="0" border="2">
	<tr><td>eprintId</td><td>{publication.eprintId}</td></tr>
	<tr><td>eprintIdUrl</td><td>{publication.eprintIdUrl}</td></tr>
	<tr><td>title</td><td>{publication.title}</td></tr>
	<tr><td>bookTitle</td><td>{publication.bookTitle}</td></tr>
	<tr><td>abstract</td><td>{publication.abstract}</td></tr>
	<tr><td>urlOffical</td><td>{publication.urlOffical}</td></tr>
	<tr><td>urlUbmaExtern</td><td>{publication.urlUbmaExtern}</td></tr>
	<tr><td>url</td><td>{publication.url}</td></tr>
	<tr><td>usedLinkUrl</td><td>{publication.usedLinkUrl}</td></tr>
	<tr><td>year</td><td>{publication.year}</td></tr>
	<tr><td>ubmaTags</td><td>{publication.ubmaTags}</td></tr>
	<tr><td>bibType</td><td>{publication.bibType}</td></tr>
	<tr><td>volume</td><td>{publication.volume}</td></tr>
	<tr><td>number</td><td>{publication.number}</td></tr>
	<tr><td>publication</td><td>{publication.publication}</td></tr>
	<tr><td>editors</td><td>{publication.editors}</td></tr>
	<tr><td>creators</td><td>{publication.creators}</td></tr>
	<tr><td>publisher</td><td>{publication.publisher}</td></tr>
	<tr><td>corpCreators</td><td>{publication.corpCreators}</td></tr>
	<tr><td>ubmaBookEditor</td><td>{publication.ubmaBookEditor}</td></tr>
	<tr><td>eventLocation</td><td>{publication.eventLocation}</td></tr>
	<tr><td>placeOfPub</td><td>{publication.placeOfPub}</td></tr>
	<tr><td>pageRange</td><td>{publication.pageRange}</td></tr>
	<tr><td>issn</td><td>{publication.issn}</td></tr>
	<tr><td>isbn</td><td>{publication.isbn}</td></tr>
	<tr><td>idNumber</td><td>{publication.idNumber}</td></tr>
	<tr><td>ubmaEdition</td><td>{publication.ubmaEdition}</td></tr>
	<tr><td>usedCoin</td><td>{publication.usedCoin}</td></tr>
</table>

