<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<f:comment>
<f:if condition="{settings.enumerate}==0">
	<f:then>
		<ul class="uma-publist-ol">
	</f:then>
	<f:else>
		<ol start="{n:indexOffset(settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', curYear: '{thisYear}', curType: '{thisType}')}}" class="uma-publist-ol">
	</f:else>
</f:if>
</f:comment>

<ul>
<f:if condition="{thisYear} == ''"><f:then>
	<f:comment><!-- any year, but we have to follow the year order --></f:comment>
	<v:variable.set name="counter" value="0" />
	<f:for each="{years}" as="year">
		<f:if condition="{thisType} == ''"><f:then>
			<f:comment><!-- Publications of any year and any type --></f:comment>
			<f:for each="{content}" as="pub"><f:if condition="{pub.year}=={year}"><v:variable.set name="counter" value="{v:math.sum(a: counter, b: 1)}" /><li{f:if(condition: '({settings.hideEntriesExceedingN}) && ({counter} > {settings.hideEntriesExceedingN})', then: ' class="uma-publist-hidden"')}><f:render partial="SelectTemplate" arguments="{publication: '{pub}', settings: '{settings}'}"/></li></f:if></f:for>
		</f:then><f:else>
			<f:comment><!-- any year, one type --></f:comment>
			<f:for each="{content}" as="pub"><f:if condition="{pub.year}=={year}"><f:if condition="{pub.bibType}=={thisType}"><f:then><v:variable.set name="counter" value="{v:math.sum(a: counter, b: 1)}" /><li{f:if(condition: '({settings.hideEntriesExceedingN}) && ({counter} > {settings.hideEntriesExceedingN})', then: ' class="uma-publist-hidden"')}><f:render partial="SelectTemplate" arguments="{publication: '{pub}', settings: '{settings}'}"/></li></f:then></f:if></f:if></f:for>
		</f:else></f:if>
	</f:for>
</f:then><f:else>
	<f:if condition="{thisType} == ''"><f:then>
		<f:comment><!-- one year, any type --></f:comment>
		<f:for each="{content}" as="pub"><f:if condition="{pub.year}=={thisYear}"><v:variable.set name="counter" value="{v:math.sum(a: counter, b: 1)}" /><li{f:if(condition: '({settings.hideEntriesExceedingN}) && ({counter} > {settings.hideEntriesExceedingN})', then: ' class="uma-publist-hidden"')}><f:render partial="SelectTemplate" arguments="{publication: '{pub}', settings: '{settings}'}"/></li></f:if></f:for>
	</f:then><f:else>
		<f:comment><!-- one year, one type --></f:comment>
		<f:for each="{content}" as="pub"><f:if condition="{pub.year}=={thisYear}"><f:if condition="{pub.bibType}=={thisType}"><f:then><v:variable.set name="counter" value="{v:math.sum(a: counter, b: 1)}" /><li{f:if(condition: '({settings.hideEntriesExceedingN}) && ({counter} > {settings.hideEntriesExceedingN})', then: ' class="uma-publist-hidden"')}><f:render partial="SelectTemplate" arguments="{publication: '{pub}', settings: '{settings}'}"/></li></f:then></f:if></f:if></f:for>
	</f:else></f:if>
</f:else></f:if>
</ul>
<f:if condition="({settings.hideEntriesExceedingN}) && ({counter} > {settings.hideEntriesExceedingN})"><div class="button uma-publist-expand"><f:translate key="LLL:EXT:uma_publist/Resources/Private/Language/locallang.xlf:showall" /></div></f:if>
