{namespace m=Unima\Publist4ubma2\ViewHelpers}
<f:if condition="{publication.creators}">
	<f:then>
<m:myExplode content="{publication.creators}" glue=";" as="writersarray">
	<f:for each="{writersarray}" as="writer" iteration="iterator">
		<m:myExplode content="{writer}" glue="," as="thename">
			{thename.0},
			<m:firstChar text="{thename.1}" />.
		</m:myExplode>
	</f:for>
</m:myExplode>
	</f:then>
	<f:else>
<m:myExplode content="{publication.editors}" glue=";" as="writersarray"><f:for each="{writersarray}" as="writer" iteration="iterator"><m:myExplode content="{writer}" glue="," as="thename">{thename.0}, <m:firstChar text="{thename.1}" />.</m:myExplode></f:for></m:myExplode>
	</f:else>
</f:if>

