<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<div class="uma-publist-typenavi">
	<ul>
	<f:if condition="{settings.splityears}==2">
		<f:then>
			<f:for each="{m:bibTypesThisYear(publications: '{content}', thisYear: '{curYear}', types: '{types}')}" as="type">
				<li{f:if(condition: '{curType}=={type}', then: ' class="is-active"')}><f:link.action  action="list" arguments="{year: curYear, type: type}"><strong><f:translate key='{type}' /></strong> </f:link.action></li>
			</f:for>
		</f:then>
		<f:else>
			<f:for each="{types}" as="type">
				<li{f:if(condition: '{curType}=={type}', then: ' class="is-active"')}><f:link.action  action="list" arguments="{year: curYear, type: type}"><strong><f:translate key='{type}' /></strong> </f:link.action></li>
			</f:for>
		</f:else>
	</f:if>
	</ul>
</div>
