<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<f:if condition="{settings.splityears}==0">
	<f:then>
		<f:for each="{types}" as="type">
			<div class="uma-publist-typeheader">
			<h4><f:translate key='{type}' /></h4>
			</div>
			<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisType: '{type}'}" />
		</f:for>
	</f:then>
	<f:else>
		<f:for each="{n:bibTypesThisYear(publications: '{content}', thisYear: '{curYear}', types: '{types}')}" as="type">
			<div class="uma-publist-typeheader">
			<h4><f:translate key='{type}' /></h4>
			</div>
			<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{curYear}', thisType: '{type}'}" />
		</f:for>
	</f:else>
</f:if>
