<html data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:n="http://typo3.org/ns/UMA/UmaPublist/ViewHelpers">

<f:switch expression="{settings.splittypes}">
	<f:case value="0">
		<f:for each="{years}" as="year">
			<div class="uma-publist-yearheader">
			<h4>{year}</h4>
			</div>
			<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{year}'}" />
		</f:for>
	</f:case>

	<f:case value="1">
		<f:for each="{years}" as="year">
			<div class="uma-publist-yearheader">
			<h4>{year}</h4>
			</div>

			<f:for each="{n:bibTypesThisYear(publications: '{content}', thisYear: '{year}', types: '{types}')}" as="type">
				<div class="uma-publist-typeheader">
				<h4><f:translate key='{type}' /></h4>
				</div>
				<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{year}', thisType: '{type}'}" />
			</f:for>
		</f:for>
	</f:case>

	<f:case value="2">
		<f:for each="{n:yearsThisBibType(publications: '{content}', thisType: '{curType}', years: '{years}')}" as="year">
			<div class="uma-publist-yearheader">
			<h4>{year}</h4>
			</div>
			<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{year}', thisType: '{curType}'}" />
		</f:for>
	</f:case>

	<f:defaultCase>
		<f:render partial="PrintPublications" arguments="{content: '{content}'}" />
	</f:defaultCase>
</f:switch>


