{namespace m=Unima\Publist4ubma2\ViewHelpers}

<f:switch expression="{settings.splittypes}">
	<f:case value="0">
			<f:for each="{years}" as="year">
				<div class="tx_publist4ubma2-yearheader">
				<h4>{year}</h4>
				</div>
				<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{year}'}" />
			</f:for>
			</f:case>

	<f:case value="1">
			<f:for each="{years}" as="year">
				<div class="tx_publist4ubma2-yearheader">
				<h4>{year}</h4>
				</div>

				<f:for each="{m:bibTypesThisYear(publications: '{content}', thisYear: '{year}', types: '{types}')}" as="type">
					<div class="tx_publist4ubma2-typeheader">
					<h4><f:translate key='{type}' /></h4>
					</div>
					<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{year}', thisType: '{type}'}" />
				</f:for>
			</f:for>
			</f:case>

	<f:case value="2">
			<f:for each="{m:yearsThisBibType(publications: '{content}', thisType: '{curType}', years: '{years}')}" as="year">
				<div class="tx_publist4ubma2-yearheader">
				<h4>{year}</h4>
				</div>
				<f:render partial="PrintPublications" arguments="{settings: '{settings}', content: '{content}', years: '{years}', types: '{types}', thisYear: '{year}', thisType: '{curType}'}" />
			</f:for>
			</f:case>

	<f:case default="TRUE">
			<f:render partial="PrintPublications" arguments="{content: '{content}'}" />
			</f:case>
</f:switch>


