<div xmlns="http://www.w3.org/1999/xhtml" lang="en" 
     xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">


<f:layout name="Backend/Default" />
<f:section name="content">

        <h3 class="uppercase">
		Debug Page - Chair Add View
        </h3>



        <f:if condition="{errorMsg}">
                <f:then>
                        <div class="typo3-message message-error">
                                <div class="message-header">
                                        Error
                                </div>

                                <div class="message-body">
                                        "{errorMsg}"
                                </div>
                        </div>
                </f:then>
        </f:if>
        <f:be.buttons.icon uri="{f:uri.action(controller:'Administration',action:'listChairs')}" icon="actions-system-refresh" title="sync" /> Back to Administration List View


</f:section>

</div>

