.uma-publist-error {
    background-color: #FACC2E;
    padding: 1rem;
}

.uma-publist-info {
    background-color: #A9F5F2;
    padding: 1rem;
}

.uma-publist-debug {
    background-color:#F2F2F2;
    padding: 1rem;
}

.uma-publist-typenavi, .uma-publist-yearnavi {
    overflow:hidden;
}

.uma-publist-typenavi li, .uma-publist-yearnavi li {
    list-style:none !important;
    margin:0 0 20px 0 !important;
    background:transparent;
    float:left;
}

.uma-publist-typenavi li::before, .uma-publist-yearnavi li::before {
    display:none !important;
}

.uma-publist-typenavi li a, .uma-publist-yearnavi li a {
    background:#d1d7df;
    padding:.3125rem .625rem;
    font-size:1rem;
    border-bottom:0;
    font-weight:bold;
    line-height:1.8;
}

.uma-publist-typenavi li:first-child a, .uma-publist-yearnavi li:first-child a {
    border-radius:.625rem 0 0 .625rem;
    -webkit-border-radius:.625rem 0 0 .625rem;
}

.uma-publist-typenavi li:last-child a, .uma-publist-yearnavi li:last-child a {
    border-radius:0 .625rem .625rem 0;
    -webkit-border-radius:0 .625rem .625rem 0;
}

.uma-publist-typenavi li.is-active a, .uma-publist-yearnavi li.is-active a {
    background:#232e58;
    color:#fff;
}

.uma-publist-typeheader {
}

.uma-publist-typeheader h4 {
    margin: 0px;
    padding: 0px;
}

.uma-publist-ol li {
    margin-bottom: 0.25em;
}


#initEnumeration {
    counter-reset: indexCounter;
}

.myenumlist {
    padding: 0; margin: 0;
}

.myenumlist ul:not(.tabs) li {
    margin-bottom: 0.25em;
    padding-left: 15px;
    text-indent: -15px;
    list-style-type: none;
    counter-increment: indexCounter;
}

.uma-publist-right {
    text-align: right;
}

.myenumlist ul:not(.tabs) li::before {
    content: counter(indexCounter) ". " !important;
    background: none !important;
    vertical-align: top !important;
    display: inline !important;
    font-family: myriad-pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
}

.uma-publist h4 {
    margin-bottom:1rem;
}

.uma-publist ul {
    margin:0;
}